vm:
  children:
    vm-linux:
      hosts:
        ubuntu-server-1:
          ansible_host: < your.ip.adress >
          ansible_user: < login_user >
          ansible_ssh_private_key_file: < ssh.private.key >

connector-linux:
  children:
    vm-linux: